    .back-strip {
        width: 150px;
        background: rgba(0,0,0,0.05);
        transition: background 0.3s;
    }

    .back-strip:hover {
        background: rgba(0,0,0,0.25);
    }

    .back-arrow {
        font-size: 32px;
        color: #444;
        transition: color 0.3s;
    }

    .back-strip:hover .back-arrow {
        color: white;
    }
